<ion-view view-title="Stages">
    <ion-content>
        <ion-list reorder="true">
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="stage in stages" type="item-text-wrap" color="red" href="#/tab/chats/{{stage.id}}">

                <h2>{{stage.name}}</h2>
                <p>{{stage.color}}</p>
                <p>{{stage.length}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove(stage)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>