<ion-view view-title="Breating Exercise">
    <ion-content class="padding">
        <canvas data-type="radial-gauge" canvas-gauge id="myCanvas" width="{{gauge.width}}" height="{{gauge.height}}" data-value="{{gauge.value}}" data-title="{{gauge.dataTitle}}" data-min-value="{{gauge.minValue}}" data-max-value="{{gauge.maxValue}}" data-major-ticks="{{gauge.majorTics}}"
            data-units="{{counter}}" data-highlights="{{gauge.highlights}}" data-ticks-angle="360" data-start-angle="180" data-stroke-ticks="false" data-highlights="false" data-color-plate="#222" data-color-major-ticks="#f5f5f5" data-color-minor-ticks="#ddd"
            data-color-numbers="#ccc" data-color-needle="rgba(240, 128, 128, 1)" data-color-needle-end="rgba(255, 160, 122, .9)" data-value-box="false" data-value-text-shadow="false" data-color-circle-inner="#fff" data-color-needle-circle-outer="#ccc" data-needle-circle-size="15"
            data-needle-circle-outer="false" data-animation-rule="linear" data-needle-type="line" data-needle-start="75" data-needle-end="99" data-needle-width="3" data-borders="true" data-border-inner-width="0" data-border-middle-width="0" data-border-outer-width="10"
            data-color-border-outer="#ccc" data-color-border-outer-end="#ccc" data-color-needle-shadow-down="#222" data-border-shadow-width="0" data-animation-duration="1500"></canvas>
        <div class="button-bar">
            <a class="button  button-positive button-block  button-outline  icon-left ion-play" ng-click="start()">Start</a>
            <a class="button button-assertive button-block  button-outline  icon-right ion-stop" ng-click="stop()">Stop</a>

        </div>
    </ion-content>
</ion-view>